@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Muli', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.remove-link-style {
    text-decoration: none;
    color: black;
}

.page-link {
    color: black;
}

.active > .page-link {
    background-color: black;
    border-color: black;
}

.slick-slider {
    width: calc(100% - 100px);
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
}

.slick-slide div {
    height: 100%;
}

.card-body,
.card-title {
    height: auto !important;
}

.card img {
    width: 100%;
    height: 75%;
}

.slick-slider .slick-prev {
    color: black;
    left: -30px;
    z-index: 1;
}

.slick-slider .slick-next {
    color: black;
    right: -30px;
    z-index: 1;
}

.slick-dots {
    bottom: -35px;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.CircularProgressbar .CircularProgressbar-text {
    font-size: xx-large;
}
